<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <username>i2kdev</username>
      <password>g8hqHN2VZnk4zEdMEQbr</password>
      <id>i2ksouth</id>
    </server>
    <server>
      <username>i2kdev</username>
      <password>g8hqHN2VZnk4zEdMEQbr</password>
      <id>i2ksouth-releases</id>
    </server>
    <server>
      <username>i2kdev</username>
      <password>g8hqHN2VZnk4zEdMEQbr</password>
      <id>i2ksouth-snapshots</id>
    </server>
  </servers>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>i2ksouth-releases</id>
          <name>libs-release</name>
          <url>https://dev.i2kconnect.com/artifactory/libs-release</url>
        </repository>
        <repository>
          <snapshots />
          <id>i2ksouth-snapshots</id>
          <name>libs-snapshot</name>
          <url>https://dev.i2kconnect.com/artifactory/libs-snapshot</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>i2ksouth-releases</id>
          <name>plugins-release</name>
          <url>https://dev.i2kconnect.com/artifactory/plugins-release</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>i2ksouth-snapshots</id>
          <name>plugins-snapshot</name>
          <url>https://dev.i2kconnect.com/artifactory/plugins-snapshot</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
